@import "tailwindcss";
body {
  background-color: #0a192f;
  color: #ccd6f6;
}
html {
  scroll-behavior: smooth;
}
section {
  margin-top: 5rem;
}

#Hero {
  margin-top: 7rem !important;
}

@media (max-width: 400px) {
  #Hero {
    margin-top: 12rem !important;
  }
}

button {
  cursor: pointer !important;
}
a {
  cursor: pointer !important;
}

a:hover {
  color: #64ffda;
}
